
.grid-container{
    display: grid;
    grid-template-rows: 0px 0px 0px 0px;
    grid-template-columns: 0px 0px 0px 0px;
    grid-gap: 0px;
}
.grid-item1{
background: rgba(255, 250, 205, 0);
text-align: center;
font-family: monserrat, sans-serif;
border: rgba(0, 0, 0, 0) 5px solid;
grid-column-start: 1; 
grid-column-end: 5; 
grid-row-start: 1; 
grid-row-end: 3;
}
.grid-item2{
background: rgba(255, 250, 205, 0);
text-align: justify;
border: rgba(173, 216, 230, 0) 2px solid;
grid-column-start: 1; 
grid-column-end: 5; 
grid-row-start: 1; 
grid-row-end: 3;
}
.grid-item3{
background: rgba(0, 128, 0, 0);
text-align: center;
border: rgba(0, 0, 0, 0) 5px solid;
grid-area: area3;
}
.grid-item4{
justify-items: end;
background: chocolate;
}

body{
    background-color: #e4611aea;
    background-image: url(/img/mars4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    
}
.titulo{
    text-align: center;
    text-decoration: none;
    font-weight: 10;
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 255, 255)
}
menu{
    width: 1122px;
    height: 30px;
    margin-left: -48px;
    position: relative; 
    
}
.tabla{
    text-align: left;
    text-decoration: khaki ;
    border: 3px solid
    color rgb(255, 255, 255);
}
th{
    background-color: #e98b1036;
    border: 1px solid;
    color: rgba(0, 0, 0, 0.644);
}
td{
    color: rgb(255, 255, 255);
    text-align:center;
    align-items: baseline;
}

ol{
    display:flex;
    position: relative;
    justify-content: justify;
    align-items: center;
    font-size: 15px;
}
li{
    position: relative;
    display: flex;
    justify-content: justify;
    margin-top: 10px;
    color:rgb(255, 255, 255)    
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display:flex;   
    justify-content: space-evenly;
    flex-direction: column; display: inline-flex;
    margin-right: 20px;
}
a{
    
    border-color: rgb(255, 255, 255);   
}
i{
    font-size: 50px;
    opacity: 50;
    float:right;
    border-right: black;
    border-top: black;
    border-left: black;
    border-bottom: black;
    object-position: right;
    border-style:inherit;
    color: #FFF;
}
#letra{
    float: right;
    margin-top: 50px;
    margin-right: -60px;
}
.fa-space-shuttle{
    transform: translate(10px, 20px);
}
#logo{
    transform: rotate3d(25);
}
.dropdown{
    float: right;
    border-bottom: transparent;
    border-top: transparent;

}
footer{
    margin-top: 100px;
    text-align:justify;
    font-family: sans-serif;
    display:flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
}
contenedor-video{
    position: relative;
    bottom: 0px;
    right: 0px;
    opacity: 75%;
    
}  

.video{
    position: absolute;
    bottom: 0px;
    top: 400px;
    right: 0px;
    left: inherit;
    opacity:90%;
    border-bottom: white solid 3px;
    border-top: white solid 3px;
    border-left: white solid 3px;
    border-bottom: white solid 3px;
    border-right: aliceblue solid 3px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.formulario-nasa{
    position: absolute;
    opacity: 90%;

}
@media (max-width: 768px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 10px;
    }
    .menu{
        font-size: 15px;
    }
    a{
      font-size: 10px;
      justify-content: justify;
      margin-top: 20px;
  }
    .body{
        font-size: 20px;
    }
    i{
        font-size: 50px;
        margin-top: 7px;
    }
    .video{
      margin-top: 170px;
      margin-right: 35px;
      font-size: 20px;
  }
    .titulo{
      font-size: 20px;
      margin-bottom: 40px;
  }
    .tabla{
        font-size: 20px;
        width: auto;
    }
    td{
        font-size: 10px;
    }
    th{
        font-size: 8px;
    }
    ol{
        font-size: 8px;
    }
    li{
        font-size: 10px;
        justify-content: center;
    }
    .dropdown{
        font-size: 10px;
    }
    .fa-space-shuttle{
        font-size: 30px;
        margin:auto;
    }
    iframe{
        font-size: auto;
    }
    #letra{
        font-size: 10px;
    }
    .footer{
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    .formulario-nasa{
        font-size: auto;
        font-weight: auto;
        font-display: auto;
    }
    legend{
        font-size: auto;
    }
    fieldset{
        font-size: auto;
    }
    div{
        font-size: auto;
    }
  }
/* navecita en moviento */
/*  */
/*  */
/*  */
/*  */